//datos de la segunda section html//
.sectiontwoflex__container {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .section__iconos {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .sectiontitle__servicios{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px; 
   }
   
  .section__detalles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
  }
  .section__iconos:hover{
    color: var(--primary-color);
    cursor: pointer;
  
  }
  .section__reloj {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .section__reloj:hover{
    color: $primary-color;
    cursor: pointer;
  }